<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.5.9.10348" />
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Simple.Data.Core" version="0.5.6.0" />
  <package id="Mono.Cecil" version="0.9.4.0" />
</packages>